@model Space.Models.Comets
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    ViewData["Title"] = "Детали кометы";
}

<p class="text-center fs-2 font-monospace">Детали кометы</p>
<hr />

<div class="container clearfix">
    <partial name="_CometImage" />
    <dvi class="row">
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.CometName)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.CometName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.CometOrbitalPeriod)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.CometOrbitalPeriod)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.CometSemiMajorAxis)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.CometSemiMajorAxis)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.CometPerihelion)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.CometPerihelion)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.CometEccentricity)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.CometEccentricity)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.CometOrbitalInclination)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.CometOrbitalInclination)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Star)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Star.StarName)</div>
            </div>
        </div>
    </dvi>
</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated!)
{
    <div class="d-flex gap-2">
        <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
        <a asp-action="Edit" asp-route-id="@Model?.CometId" class="btn btn-success btn-sm">Изменить</a>
    </div>
}
else
{
    <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
}
