@model IEnumerable<Space.Models.Comets>

@{
    ViewData["Title"] = "Кометы";
}

<h1>Кометы</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<p>
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" id="Search" placeholder="Поиск" class="form-control" autocomplete="off" />
</p>

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CometNameSortParm"]">@Html.DisplayNameFor(model => model.CometName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CometOrbitalPeriodSortParm"]">@Html.DisplayNameFor(model => model.CometOrbitalPeriod)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CometSemiMajorAxisSortParm"]">@Html.DisplayNameFor(model => model.CometSemiMajorAxis)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CometPerihelionSortParm"]">@Html.DisplayNameFor(model => model.CometPerihelion)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CometEccentricitySortParm"]">@Html.DisplayNameFor(model => model.CometEccentricity)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CometOrbitalInclinationSortParm"]">@Html.DisplayNameFor(model => model.CometOrbitalInclination)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StarSortParm"]">@Html.DisplayNameFor(model => model.Star)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.CometName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CometOrbitalPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CometSemiMajorAxis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CometPerihelion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CometEccentricity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CometOrbitalInclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Star.StarName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CometId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.CometId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.CometId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true
            }
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>