@model Space.Models.GalaxyClusters

@{
    ViewData["Title"] = "Детали скопления галактик";
}

<h3>Детали скопления галактик</h3>

<partial name="_GlxclusterImage" />

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxclusterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxclusterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxclusterType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxclusterType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxclusterRightAscension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxclusterRightAscension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxclusterDeclination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxclusterDeclination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxclusterRedshift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxclusterRedshift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.ConsName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GlxclusterId">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
