@model Space.Models.Planets

@{
    ViewData["Title"] = "Удаление планеты";
}

<p class="text-center fs-2 font-monospace">Удаление планеты</p>
<hr />

<div class="container clearfix">
    <partial name="_PlntImage" />
    <dvi class="row">
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>

        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.PlntName)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.PlntName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.PlntEccentricity)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.PlntEccentricity)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.PlntSemiMajorAxis)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.PlntSemiMajorAxis)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.PlntOrbitalPeriod)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.PlntOrbitalPeriod)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.PlntArgumentOfPerihelion)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.PlntArgumentOfPerihelion)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.PlntMass)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.PlntMass)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Cons)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Cons.ConsName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Star)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Star.StarName)</div>
            </div>
        </div>
    </dvi>
</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />

<div class="d-flex gap-2">
    <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlntId" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-sm" />
    </form>
</div>
