@model Space.Models.Stars
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    ViewData["Title"] = "Детали звезды";
}

<p class="text-center fs-2 font-monospace">Детали звезды</p>
<hr />

<div class="container clearfix">
    <partial name="_StarImage" />
    <dvi class="row">
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>

        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.StarName)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.StarName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.StarApparentMagnitude)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.StarApparentMagnitude)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.StarStellarClass)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.StarStellarClass)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.StarDistance)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.StarDistance)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.StarDeclination)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.StarDeclination)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Cons)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Cons.ConsName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Glx)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Glx.GlxName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Planetsystem)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Planetsystem.PlanetsystemName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Starcluster)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Starcluster.StarclusterName)</div>
            </div>
        </div>
    </dvi>
</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated!)
{
    <div class="d-flex gap-2">
        <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
        <a asp-action="Edit" asp-route-id="@Model?.StarId" class="btn btn-success btn-sm">Изменить</a>
    </div>
}
else
{
    <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
}
