@model IEnumerable<Space.Models.Stars>

@{
    ViewData["Title"] = "Звёзды";
}

<h1>Звёзды</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<p>
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" id="Search" placeholder="Поиск" class="form-control" autocomplete="off" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarApparentMagnitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarStellarClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planetsystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starcluster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.StarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarApparentMagnitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarStellarClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glx.GlxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planetsystem.PlanetsystemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starcluster.StarclusterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StarId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.StarId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.StarId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        function Contains(text_one, text_two){
            if (text_one.indexOf(text_two) != -1){
                return true
            }
        }
        $("#Search").keyup(function(){
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function(){
                if(!Contains($(this).text().toLowerCase(), searchText)){
                    $(this).hide();
                }
                else{
                    $(this).show();
                }
            });
        });
    });
</script>