@model IEnumerable<Space.Models.Stars>

@{
    ViewData["Title"] = "Звёзды";
}

<h1>Звёзды</h1>

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<p>
    <a asp-action="Create">Добавить</a>
</p>
<hr/>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarApparentMagnitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarStellarClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planetsystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starcluster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Поиск">
            <td>
                @Html.DisplayFor(modelItem => item.StarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarApparentMagnitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarStellarClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glx.GlxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planetsystem.PlanetsystemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starcluster.StarclusterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StarId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.StarId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.StarId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerDatatable.js"></script>

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

}