@model Space.Models.Galaxies
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    ViewData["Title"] = "Детали галактики";
}

<p class="text-center fs-2 font-monospace">Детали галактики</p>
<hr />

<div class="container clearfix">
    <partial name="_GlxImage" />
    <dvi class="row">
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxName)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxType)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxType)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxRightAscension)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxRightAscension)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxDeclination)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxDeclination)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxRedshift)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxRedshift)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxDistance)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxDistance)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxApparentMagnitude)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxApparentMagnitude)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxRadialVelocity)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxRadialVelocity)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.GlxRadius)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.GlxRadius)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Cons)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Cons.ConsName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Glxcluster)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Glxcluster.GlxclusterName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-evenly font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Glxgroup)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Glxgroup.GlxgroupName)</div>
            </div>
        </div>
    </dvi>
</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated!)
{
    <div class="d-flex gap-2">
        <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
        <a asp-action="Edit" asp-route-id="@Model?.GlxId" class="btn btn-success btn-sm">Изменить</a>
    </div>
}
else
{
    <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
}
