@model IEnumerable<Space.Models.Galaxies>

@{
    ViewData["Title"] = "Галактики";
}

<h1>Галактики</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<p>
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" id="Search" placeholder="Поиск" class="form-control" autocomplete="off" />
</p>

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxNameSortParm"]">@Html.DisplayNameFor(model => model.GlxName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxTypeSortParm"]">@Html.DisplayNameFor(model => model.GlxType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxRightAscensionSortParm"]">@Html.DisplayNameFor(model => model.GlxRightAscension)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxDeclinationSortParm"]">@Html.DisplayNameFor(model => model.GlxDeclination)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxRedshiftSortParm"]">@Html.DisplayNameFor(model => model.GlxRedshift)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxDistanceSortParm"]">@Html.DisplayNameFor(model => model.GlxDistance)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxApparentMagnitudeSortParm"]">@Html.DisplayNameFor(model => model.GlxApparentMagnitude)</a>
            </th>
                        <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxRadialVelocitySortParm"]">@Html.DisplayNameFor(model => model.GlxRadialVelocity)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxRadiusSortParm"]">@Html.DisplayNameFor(model => model.GlxRadius)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ConsSortParm"]">@Html.DisplayNameFor(model => model.Cons)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxclusterSortParm"]">@Html.DisplayNameFor(model => model.Glxcluster)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxgroupSortParm"]">@Html.DisplayNameFor(model => model.Glxgroup)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.GlxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRightAscension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRedshift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxApparentMagnitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRadialVelocity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRadius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glxcluster.GlxclusterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glxgroup.GlxgroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GlxId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.GlxId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.GlxId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true
            }
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>