@model IEnumerable<Space.Models.Galaxies>

@{
    ViewData["Title"] = "Галактики";
}

<h1>Галактики</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<p>
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" id="Search" placeholder="Поиск" class="form-control" autocomplete="off" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GlxName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxRightAscension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxRedshift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxApparentMagnitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxRadialVelocity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxRadius)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glxcluster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glxgroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.GlxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRightAscension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRedshift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxApparentMagnitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRadialVelocity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxRadius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glxcluster.GlxclusterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glxgroup.GlxgroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GlxId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.GlxId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.GlxId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true
            }
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>