@model IEnumerable<Space.Models.StarClusters>

@{
    ViewData["Title"] = "Звёздные скопления";
}

<h1>Звёздные скопления</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<p>
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" id="Search" placeholder="Поиск" class="form-control" autocomplete="off" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterRightAscension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glx)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.StarclusterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarclusterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarclusterRightAscension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarclusterDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarclusterDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarclusterAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarclusterDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glx.GlxName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StarclusterId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.StarclusterId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.StarclusterId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true
            }
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>