@model IEnumerable<Space.Models.StarClusters>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    ViewData["Title"] = "Звёздные скопления";
}

<h1>Звёздные скопления</h1>

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" type="button" class="btn btn-primary">Добавить</a>
    </p>
}
<hr />

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterRightAscension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarclusterDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glx)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="Поиск">
                <td>
                    @Html.DisplayFor(modelItem => item.StarclusterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarclusterType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarclusterRightAscension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarclusterDeclination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarclusterDistance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarclusterAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StarclusterDiameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cons.ConsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Glx.GlxName)
                </td>
                <td>
                    @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Действия
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a asp-action="Edit" asp-route-id="@item.StarclusterId" class="dropdown-item">Изменить</a></li>
                                <li><a asp-action="Details" asp-route-id="@item.StarclusterId" class="dropdown-item">Детали</a></li>
                                <li><a asp-action="Delete" asp-route-id="@item.StarclusterId" class="dropdown-item">Удалить</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.StarclusterId" type="button" class="btn btn-primary">Детали</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerDatatable.js"></script>

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

}