@model Space.Models.Nebulae

@{
    ViewData["Title"] = "Удаление туманности";
}

<p class="text-center fs-2 font-monospace">Удаление туманности</p>
<hr />

<div class="container clearfix">
    <partial name="_NebulaImage" />
    <dvi class="row">
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>

        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.NebulaName)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.NebulaName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.NebulaType)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.NebulaType)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.NebulaRightAscension)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.NebulaRightAscension)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.NebulaDeclination)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.NebulaDeclination)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.NebulaDistance)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.NebulaDistance)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Cons)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Cons.ConsName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.Glx)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.Glx.GlxName)</div>
            </div>
        </div>
    </dvi>
</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />

<div class="d-flex gap-2">
    <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
    <form asp-action="Delete">
        <input type="hidden" asp-for="NebulaId" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-sm" />
    </form>
</div>
