@model Space.Models.Nebulae

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nebulae</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NebulaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NebulaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NebulaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NebulaType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NebulaRightAscension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NebulaRightAscension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NebulaDeclination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NebulaDeclination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NebulaDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NebulaDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.ConsAbbreviation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glx.GlxName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NebulaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
