@model IEnumerable<Space.Models.Nebulae>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NebulaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NebulaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NebulaRightAscension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NebulaDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NebulaDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glx)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NebulaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NebulaType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NebulaRightAscension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NebulaDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NebulaDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsAbbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glx.GlxName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NebulaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NebulaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NebulaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
