@model Space.Models.Asteroids

@{
    ViewData["Title"] = "Детали астероида";
}

<h3>Детали астероида</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AstDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AstDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AstOrbitalEccentricity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AstOrbitalEccentricity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AstOrbitalInclination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AstOrbitalInclination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AstArgumentOfPerihelion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AstArgumentOfPerihelion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AstMeanAnomaly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AstMeanAnomaly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Star)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Star.StarName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AstId">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
