@model IEnumerable<Space.Models.PlanetarySystems>

@{
    ViewData["Title"] = "Планетные системы";
}

<h1>Планетные системы</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanetsystemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanetsystemConfirmedPlanets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glx)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetsystemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanetsystemConfirmedPlanets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glx.GlxName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanetsystemId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.PlanetsystemId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanetsystemId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
