@model IEnumerable<Space.Models.PlanetarySystems>

@{
    ViewData["Title"] = "Планетные системы";
}

<h1>Планетные системы</h1>

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<p>
    <a asp-action="Create">Добавить</a>
</p>
<hr />

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanetsystemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanetsystemConfirmedPlanets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glx)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="Поиск">
                <td>
                    @Html.DisplayFor(modelItem => item.PlanetsystemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanetsystemConfirmedPlanets)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cons.ConsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Glx.GlxName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlanetsystemId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.PlanetsystemId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlanetsystemId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerDatatable.js"></script>

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

}