@model Space.Models.Constellations

@{
    ViewData["Title"] = "Удаление созвездия";
}

<p class="text-center fs-2 font-monospace">Удаление созвездия</p>
<hr />

<div class="container clearfix">
    <partial name="_ConsImage" />
    <dvi class="row">
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>

        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>

        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.ConsName)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsName)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.ConsAbbreviation)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsAbbreviation)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.ConsSymbolism)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsSymbolism)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.ConsDeclination)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsDeclination)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.ConsSquare)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsSquare)</div>
            </div>
        </div>
        <div class="text-nowrap row justify-content-center">
            ㅤ
        </div>
        <div class="text-nowrap row justify-content-center font-monospace">
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5 fw-bold">@Html.DisplayNameFor(model => model.ConsVisibleInLatitudes)</div>
            </div>
            <div class="col-4">
                <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsVisibleInLatitudes)</div>
            </div>
        </div>
    </dvi>
</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />

<div class="d-flex gap-2">
    <a asp-action="Index" class="btn btn-primary btn-sm">Назад</a>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConsId" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-sm" />
    </form>
</div>
