@model Space.Models.Constellations

@{
    ViewData["Title"] = "Детали созвездия";
}

<p class="text-center fs-2">Детали созвездия</p>
<hr />

<div class="clearfix">
    <partial name="_ConsImage" />
    <div class="container">
        <div class="row align-self-lg-center">

            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayNameFor(model => model.ConsName)</div>
            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsName)</div>

            <div class="w-100"></div>

            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayNameFor(model => model.ConsAbbreviation)</div>
            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsAbbreviation)</div>

            <div class="w-100"></div>

            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayNameFor(model => model.ConsSymbolism)</div>
            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsSymbolism)</div>

            <div class="w-100"></div>

            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayNameFor(model => model.ConsDeclination)</div>
            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsDeclination)</div>

            <div class="w-100"></div>

            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayNameFor(model => model.ConsSquare)</div>
            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsSquare)</div>

            <div class="w-100"></div>

            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayNameFor(model => model.ConsVisibleInLatitudes)</div>
            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsVisibleInLatitudes)</div>

            <div class="w-100"></div>

            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayNameFor(model => model.ConsAbbreviation)</div>
            <div class="col-sm-5 col-md-6 fs-5">@Html.DisplayFor(model => model.ConsAbbreviation)</div>

            <div class="w-100"></div>

            <div class="col-12 d-flex justify-content-center gap-2">
                <a asp-action="Index" class="btn btn-secondary">Назад</a>
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>

        </div>
    </div>
</div>
