@model Space.Models.GalaxyGroups

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GalaxyGroups</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxgroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxgroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxgroupType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxgroupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxgroupRightAscension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxgroupRightAscension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxgroupDeclination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxgroupDeclination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlxgroupRedshift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlxgroupRedshift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons.ConsAbbreviation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GlxgroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
