@model IEnumerable<Space.Models.GalaxyGroups>

@{
    ViewData["Title"] = "Группы галактик";
}

<h1>Группы галактик</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupRightAscension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupRedshift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupRightAscension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupRedshift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GlxgroupId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.GlxgroupId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.GlxgroupId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
