@model IEnumerable<Space.Models.GalaxyGroups>

@{
    ViewData["Title"] = "Группы галактик";
}

<h1>Группы галактик</h1>

<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Добавить</a>
</p>
<hr />

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupRightAscension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupDeclination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlxgroupRedshift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="Поиск">
                <td>
                    @Html.DisplayFor(modelItem => item.GlxgroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlxgroupType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlxgroupRightAscension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlxgroupDeclination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlxgroupRedshift)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cons.ConsName)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Действия
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a asp-action="Edit" asp-route-id="@item.GlxgroupId" class="dropdown-item">Изменить</a></li>
                            <li><a asp-action="Details" asp-route-id="@item.GlxgroupId" class="dropdown-item">Детали</a></li>
                            <li><a asp-action="Delete" asp-route-id="@item.GlxgroupId" class="dropdown-item">Удалить</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/customerDatatable.js"></script>

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

}