@model IEnumerable<Space.Models.GalaxyGroups>

@{
    ViewData["Title"] = "Группы галактик";
}

<h1>Группы галактик</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<p>
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="text" id="Search" placeholder="Поиск" class="form-control" autocomplete="off" />
</p>

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxgroupNameSortParm"]">@Html.DisplayNameFor(model => model.GlxgroupName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxgroupTypeSortParm"]">@Html.DisplayNameFor(model => model.GlxgroupType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxgroupRightAscensionSortParm"]">@Html.DisplayNameFor(model => model.GlxgroupRightAscension)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxgroupDeclinationSortParm"]">@Html.DisplayNameFor(model => model.GlxgroupDeclination)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GlxgroupRedshiftSortParm"]">@Html.DisplayNameFor(model => model.GlxgroupRedshift)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ConsSortParm"]">@Html.DisplayNameFor(model => model.Cons)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="Search">
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupRightAscension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupDeclination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlxgroupRedshift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cons.ConsName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GlxgroupId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.GlxgroupId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.GlxgroupId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) {
                return true
            }
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>